
body {
  font-family: Futura;
  position: relative;
  top: 40px;
  background-color: whitesmoke;
}

#catalog {
  display: inline-block;
  max-width: 59em;
}

#catalog ul li {
  margin: 1em;
}

.catalog-entry {
  
  margin: 1em;
  width: 10em;
  height: 16em;
  border: solid 1px #C5C5C5;
  padding: 1em;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  opacity: 0;

}

.catalog-entry p {
  height: 7em;
  padding: 1em;
  overflow: hidden;
  cursor: pointer;
}

.image-container {
  background-image: url("../img/default_image.png");
  width: 100px;
  height: 100px;
  margin: auto;
}

#catalog-entry img {
  margin: 2em;

}

#catalog-entry span {
  margin: 0 auto;
  width: 99%;
}

#navbar {
  width: 100%;
  position: fixed;
  background-color: #757575;
  z-index: 1;
  top: 0;
  text-align: left;
}

#navbar img {
  z-index: 2;
}

#search {

  font-size: 1.5em;
  margin-bottom: 1.5em;
  font-style: italic;
  text-align: center;
  display: block;
  margin-left:  auto;
  margin-right:  auto;
  position: relative;
  max-width: 20em;
  
}




